body{
    background-color: white;
}
.blue-ends{
    height: 50px;
    background-color: cyan;
    width: 100%;
}
.black{
    height: 50px;
    background-color: black;
    width: 100%;
}
div{
    margin: 3px;
}
.blue-big{
    height: 200px;
    background-color: cyan;
    width: 100%;
}
.blue-small{
    height: 200px;
    background-color: cyan;
    width: 100%;
}
.black-top{
    height: 25px;
    background-color: black;
    width: 100%;
}
.blackRowBluebox{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/*tablets*/

@media screen and (min-width: 600px){
    .top{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .black-top{
        height: 50px;
        width: 90%;
    }
    .blue-big{
        height: 400px;
    }
    .blackbottom{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .black{
        height: 97px;
    }
}
/*Computers*/
@media screen and (min-width: 800px){
    .middle{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .blackRowBluebox{
        grid-template-rows: 1fr 1fr;
    }
    .blackRowBluebox  .blue{
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .blackbottom{
        grid-column: 1/3;
    }
    .blue-big{
        height: 460px;
    }
    .black{
        height: 107px;
    }
    .blue-small{
        height: 225px;
    }
}